.para {
  font-size: 32px;
}
.paraM {
  font-size: 22px;
}
.clr {
  color: #33ccff;
  padding-top: 10px;
  padding-bottom: 10px;
}


@media (max-width: 1300px) {
  .para {
    font-size: 24px;
  }
  .paraM {
    font-size: 18px;
  }
}
@media (max-width: 990px) {
  .para {
    /* font-size: 26px; */
    font-size: 18px;
  }
  .paraM {
    /* font-size: 14px; */
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .kkr {
    /* padding: 0 10px; */
  }
  .exp {
    color: black;
    top: 200px;
  }
  /* Reference from HP */
  .para {
    font-size: 30px;
  }
  .paraM {
    font-size: 24px;
  }
}
